body{
  }
  .form-style input{
    border:0;
    height:50px;
    border-radius:0;
    border-bottom:1px solid #ebebeb;	
  }
  .form-style input:focus{
  border-bottom:1px solid #007bff;	
  box-shadow:none;
  outline:0;
  background-color:#ebebeb;	
  }
  .sideline {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    color:#ccc;
  }
  button{
  height:50px;	
  }
  .sideline:before,
  .sideline:after {
      content: '';
      border-top: 1px solid #ebebeb;
      margin: 0 20px 0 0;
      flex: 1 0 20px;
  }
  
  .sideline:after {
      margin: 0 0 0 20px;
  }
  .badge {
    border-radius: 2px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  
  .badge.badge-danger {
    background-color: #ff2400;
  }
  
  .badge.badge-info {
    background-color: #58bafc;
  }
  
  .badge.badge-dark {
    background-color: #406177;
  }
  
  .hbtn {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    border-radius: 25px;
    border: 0;
    outline: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .hbtn.hbtn-default {
    background-color: #333c4e;
    color: #adadad;
  }
  
  .latest-news {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eaf2fe;
  }
  
  .latest-news .row-title {
    text-align: left;
    font-size: 27px;
    font-weight: 700;
    color: #4d5666;
    margin-bottom: 30px;
  }
  
  .latest-news .main-btn-holder {
    text-align: right;
    margin-bottom: 30px;
  }
  
  .latest-news .post-box {
    position: relative;
    border-radius: 15px;
    padding: 115px 35px 40px 35px;
    margin: 20px 0;
    z-index: 1;
  }
  
  .latest-news .post-box.blue-bg {
    background-color: #4789fc;
  }
  
  .latest-news .post-box.blue-bg .post-img {
    opacity: 0.45;
  }
  
  .latest-news .post-box.grey-bg {
    background-color: #333c4e;
  }
  
  .latest-news .post-box.grey-bg .post-img {
    opacity: 0.15;
  }
  
  .latest-news .post-box.yellow-bg {
    background-color: #ffc600;
  }
  
  .latest-news .post-box.yellow-bg .post-img {
    opacity: 0.11;
  }
  
  .latest-news .post-box .post-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background-size: 100%;
    background-position: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .latest-news .post-box .badge {
    margin-bottom: 8px;
  }
  
  .latest-news .post-box .post-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #ffffff;
    max-width: 70%;
    margin-bottom: 15px;
  }
  
  .latest-news .post-box .post-link a {
    font-size: 10.5px;
    font-weight: 600;
    padding: 10px 14px;
    color: #3e6077;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .latest-news .post-box .post-link a:hover {
    color: #2b91d7;
  }
  
  .post-box {
    display: inline-block;
    width: 100%;
    max-width: 1070px;
    margin-bottom: 80px;
  }
  
  .post-box .post-title {
    font-size: 27px;
    font-weight: 700;
    color: #4d5666;
    margin-bottom: 18px;
  }
  
  .blue-bg {
    background-color: #2a74e3;
  }
  
  @media (max-width: 1200px) {
    .latest-news .post-box .post-title {
      max-width: 100%;
    }
  }
  
  @media (max-width: 992px) {
    .latest-news .row-title {
      font-size: 25px;
    }
  }
  
  @media (max-width: 768px) {
    .latest-news .row-title {
      text-align: center;
    }
  
    .latest-news .main-btn-holder {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .latest-news {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
    .latest-news .row-title {
      font-size: 25px;
      text-align: left;
      margin-bottom: 5px;
    }
  
    .latest-news .main-btn-holder {
      display: none;
    }
  }