body {
    background-image: url("https://images.alphacoders.com/877/877952.jpg");
    background-repeat:no-repeat;
    position: relative;
    background-size:100% 100vh;
    background-size:cover
   }